
body {
    background-image: url("pokeballpackground2.jpg");
   }

   .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }

   .title {

    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-top:   5%; 
    margin-bottom: 3%;
    background-color: darkblue;
    border: 4px solid;
    border-color: rgb(3, 33, 109);
    border-radius: 25px;  
    width: 70%; 
    padding: 1px;    
   }
  
   .text{
    background-color: rgb(44, 148, 251);
    color: white;
    border: 4px solid;
    border-color: rgb(3, 33, 109);
    border-radius: 25px;
    width:120%;
    padding: 10px;
    text-align: center;
   }

   /* .ul {
    list-style-position: inside;
    text-align: center;
  } */
  .firstgrid{
    margin-top: 10%;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 0.5fr 1fr;
  }

  .switchdescription{
    background-color: rgb(44, 148, 251);
    color: white;
    border: 4px solid;
    border-color: rgb(3, 33, 109);
    border-radius: 25px;
    width:120%;
    padding: 5px;
    text-align: center;
  }

  .images{
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
  }

  .images2{
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: 1fr 1fr 1fr ;
  }

  .captiongrid{
    display: grid;
    grid-column-gap: 20%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
  }

  .captiongrid2{
    display: grid;
    grid-column-gap: 20%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;
  }

  .center2{
    margin-left: 30%;
    width: 70%;
  }
