body {
    background-color:#fbf1b8;
  }
 .dog-buttons,
 .dog-buttons li {
     display: flex;
     padding: 0px;
     margin: 0px;
     align-items: center;
 }

 .dog-buttons {
     width: 30%;
     list-style: none;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin-top: 20%;
     margin-left:35%;
     border: 3px solid black;
 }
 
 .dog-buttons li {
     flex-basis: 25%;
     flex-shrink: 0;
     flex-grow: 1;
     align-items: center;
 }
 
 .dog-buttons a {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     padding: .5em 1em;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 500;
     text-decoration: none;
     color: #FFF;
 }
 
 .dog-buttons i {
     margin-right: .5em;
     justify-content:center;
     align-items: center;
 }
 
 .dog-buttons [href*="choko.html"] {
     background: #2eafff;
     border: 3px solid black;
 }
 
 .dog-buttons [href*="mona.html"] {
     background: #f716a1;
     border: 3px solid black;
 }
 
 .dog-buttons [href*="luna.html"] {
     background: #7341e0;
     border: 3px solid black;
 }
 
 .dog-buttons [href*="rusty.html"] {
     background: #e69a16;
     border: 3px solid black;
 }
 
 .dog-buttons [href*="chester.html"] {
     background: #4eec10;
     border: 3px solid black;
 }