* {
    box-sizing:border-box;
}

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}


h1{
    padding-bottom: 20px;
    text-align: center;
}

p{
    display: block;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}

.page-indicator{
    font-weight: bold;
}


div{
    display: block;
}

.site-header {
    position:relative;    
}


.nav-container {
    float: right;
    width: 70%;
    overflow: hidden;
    /* background-color: #333; */
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 20px;
    
    
}

nav {
    float: right;
    max-width: 100%;
    padding-bottom: 30px;
    width: 100%;
    text-align: right;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}



.container {
    position: relative;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction:row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.635);
    color: white;
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.container:hover .overlay {
    opacity: 1;
}
.image {
    display: block;
    width: 100%;
    height: auto;
  }
.content-wrap{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10%;
}

.box{
    width: 500px;
    height: 447px;
    margin-top: 0px; 
    position: fixed;
}

.logo{
    position: relative;
    width: 100px;
    margin-left: 25px;
    margin-top: px;
}

.content{
    display: flex;
    margin-left: 300px;
    margin-top:0px;
    width: 700px;
    height: 1800px;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.work-title{
    margin-left: 10%;
    color: black;
}

.circle{
    transform-style: preserve-3d;
    animation: animate 8s linear infinite;
}

.circle .char
{
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    background-color:white;
    color: black;
    font-family:'Courier New', Courier, monospace;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
    font-size: 4em;
    transform-origin: center;
    transform-style: preserve-3d;
    padding:5px 11px;
    transform:rotateY(calc(var(--char-index)* 12deg))
    translateZ(250px);
}

@keyframes animate
{
    0%
    {
        transform: perspective(1000px) rotateY(360deg)rotateX(15deg);
    }
    100%
    {
        transform: perspective(1000px) rotateY(0deg)rotateX(15deg);
    }
}
.circle .word {
    position: absolute;
    transform-style: preserve-3d;
}

div.scroll {
    background-color: #fed9ff;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    /* display: flex;
    margin-left: 300px;
    margin-top:0px;
    width: 700px;
    height: 1800px; */
    background: white;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; */
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    margin-left:300px;
    width:1000px;
    height:1000px;
    margin-top:5%;
  }